.text-field {
    -fx-prompt-text-fill: grey;
    -fx-border-color: #666666;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}
.text-field:focused {
    -fx-border-color: #252525 ;
    -fx-border-width: 0 0 2 0;
}

.text-field2 {
    -fx-prompt-text-fill: grey;
    -fx-border-color: #666666;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.text-field2:focused {
    -fx-border-color: #EEEEEE ;
    -fx-border-width: 0 0 2 0;
}

.black-button{
    -fx-background-color: #252525;
}
.black-button:hover {
    -fx-background-color: #303030;
}
.black-button:pressed {
    -fx-background-color: #424242;
}

.grey-button{
    -fx-background-color: #424242;
}
.grey-button:pressed {
    -fx-background-color: #505050;
}

.red-button{
    -fx-background-color:  #FF5252;
}
.red-button:pressed {
    -fx-background-color: #FF9090;
}


.menu-button{
    -fx-background-color: transparent;
}
.menu-button:hover {
    -fx-background-color: #303030;
}
.menu-selected-button{
    -fx-background-color: #424242;
}
.menu-selected-button:hover {
    -fx-background-color: #303030;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.dialog{
    -fx-background-color: #303030;
    -fx-border-color: #212121;
    -fx-border-width: 8;
}

.combo-box{
    -fx-text-fill: white;
    -fx-prompt-text-fill: blue;
    -fx-background-color: red;
}
